backports.entry-points-selectable==1.1.0
cftime==1.6.2
cycler==0.11.0
distlib==0.3.3
filelock==3.3.0
fonttools==4.38.0
importlib-metadata==4.8.1
kiwisolver==1.4.4
matplotlib==3.5.3
netCDF4==1.6.3
numpy==1.21.6
packaging==23.1
Pillow==9.5.0
platformdirs==2.4.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
typing-extensions==3.10.0.2
virtualenv==20.8.1
virtualenv-clone==0.5.7
zipp==3.6.0
